## Libraries

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

## Data Input

In [2]:
df=pd.read_csv("Raw_Data_Singapore Credit Dataset.csv")
df

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 SGD,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 SGD,48,good,furniture/appliances,5951,< 100 SGD,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 SGD,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 SGD,42,good,furniture/appliances,7882,< 100 SGD,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 SGD,24,poor,car,4870,< 100 SGD,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,unknown,12,good,furniture/appliances,1736,< 100 SGD,4 - 7 years,3,4,31,none,own,1,unskilled,1,no,no
996,< 0 SGD,30,good,car,3857,< 100 SGD,1 - 4 years,4,4,40,none,own,1,management,1,yes,no
997,unknown,12,good,furniture/appliances,804,< 100 SGD,> 7 years,4,4,38,none,own,1,skilled,1,no,no
998,< 0 SGD,45,good,furniture/appliances,1845,< 100 SGD,1 - 4 years,4,4,23,none,other,1,skilled,1,yes,yes
999,1 - 200 SGD,45,critical,car,4576,100 - 500 SGD,unemployed,3,4,27,none,own,1,skilled,1,no,no

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   int64
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   int64
 3   purpose               1000 non-null   int64
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   int64
 6   employment_duration   1000 non-null   int64
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   int64
 11  housing               1000 non-null   int64
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   int64
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   int64
 16  default               1000 non-null   int64
dtypes: int64(17)
memory usage: 132.9 KB

In [4]:
df.isnull().sum()

checking_balance        0
months_loan_duration    0
credit_history          0
purpose                 0
amount                  0
savings_balance         0
employment_duration     0
percent_of_income       0
years_at_residence      0
age                     0
other_credit            0
housing                 0
existing_loans_count    0
job                     0
dependents              0
phone                   0
default                 0
dtype: int64

## Data Cleaning

In [16]:
df['checking_balance'].replace({'< 0 SGD':0,'1 - 200 SGD':1,'unknown':2,'> 200 SGD':3},inplace=True)   # changing datatype
df['credit_history'].replace({'critical':0,'good':1,'poor':2,'perfect':3,'very good':4},inplace=True)   # changing datatype
df['purpose'].replace({'furniture/appliances':0,'education':1,'car':2,'business':3,'renovations':4,'car0':5},inplace=True)   # changing datatype
df['savings_balance'].replace({'unknown':0,'< 100 SGD':1,'500 - 1000 SGD':2,'> 1000 SGD':3,'100 - 500 SGD':4},inplace=True)   # changing datatype
df['employment_duration'].replace({'> 7 years':0,'1 - 4 years':1,'4 - 7 years':2,'unemployed':3,'< 1 year':4},inplace=True)   # changing datatype
df['other_credit'].replace({'none':0,'bank':1,'store':2},inplace=True)   # changing datatype
df['housing'].replace({'own':0,'other':1,'rent':2},inplace=True)   # changing datatdf['job'].replace({'skilled':0,'unskilled':1,'management':2,'unemployed':3})   # changing datatypdf['phone'].replace({'yes':0,'no':1})   # changing datatype
df['default'].replace({'no':0,'yes':1},inplace=True)   # changing datatype

In [17]:
df

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,0,6,0,0,1169,0,0,4,4,67,0,0,2,0,1,0,0
1,1,48,1,0,5951,1,1,2,2,22,0,0,1,0,1,1,1
2,2,12,0,1,2096,1,2,2,3,49,0,0,1,1,2,1,0
3,0,42,1,0,7882,1,2,2,4,45,0,1,1,0,2,1,0
4,0,24,2,2,4870,1,1,3,4,53,0,1,2,0,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,12,1,0,1736,1,2,3,4,31,0,0,1,1,1,1,0
996,0,30,1,2,3857,1,1,4,4,40,0,0,1,2,1,0,0
997,2,12,1,0,804,1,0,4,4,38,0,0,1,0,1,1,0
998,0,45,1,0,1845,1,1,4,4,23,0,1,1,0,1,0,1
999,1,45,0,2,4576,4,3,3,4,27,0,0,1,0,1,1,0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   checking_balance      1000 non-null   int64
 1   months_loan_duration  1000 non-null   int64
 2   credit_history        1000 non-null   int64
 3   purpose               1000 non-null   int64
 4   amount                1000 non-null   int64
 5   savings_balance       1000 non-null   int64
 6   employment_duration   1000 non-null   int64
 7   percent_of_income     1000 non-null   int64
 8   years_at_residence    1000 non-null   int64
 9   age                   1000 non-null   int64
 10  other_credit          1000 non-null   int64
 11  housing               1000 non-null   int64
 12  existing_loans_count  1000 non-null   int64
 13  job                   1000 non-null   int64
 14  dependents            1000 non-null   int64
 15  phone                 1000 non-null   int64
 16  default               1000 non-null   int64
dtypes: int64(17)
memory usage: 132.9 KB

## Data Split

In [19]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

## Model Training

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
classifier=LogisticRegression()
classifier.fit(x_train,y_train)

c:\Program Files\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## Model Prediction

In [23]:
y_pred=classifier.predict(x_test)
y_pred

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0], dtype=int64)

## Accurary

In [24]:
from sklearn.metrics import accuracy_score

In [25]:
accuracy_score(y_test,y_pred)

0.715